@model Stringz.Models.Machine
@using Stringz.Models

<!DOCTYPE html>
<html>
<head>
    <title>Edit Machine</title>
   <link rel="stylesheet" href="~/css/SillyStringz.styles.css" asp-append-version="true" />
</head>
<body>
    <h2>Edit Machine</h2>
    @using (Html.BeginForm("Edit", "Machines", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.MachineId)
        <p>@Html.LabelFor(model => model.Name): @Html.TextBoxFor(model => model.Name, new {@required = "required"})</p>
        <input type="submit" value="Update" />
    }


    @using (Html.BeginForm("Delete", "Machines", new { id = Model.MachineId }, FormMethod.Post, true, htmlAttributes: new { @class = "delete-form" }))
    {        
        <input type="submit" value="Delete" class="btn btn-danger" />
    }
    
    @Html.ActionLink("Back to List", "Index", null, new { @class = "back-link" })
</body>
</html>